<div style="background-color: var(--accent-bg);">
    <p style="text-align: center";>
    <strong>You can <a href="mailto:bbbhltz@mailbox.org?subject=RE: {{ .Title }}">reply to this post via email</a> or <a href="/contact">contact me</a> if you wish to comment or propose a correction.</strong></p>
</div>
