{{ partial "header.html" . }}

<div class="home-content">{{ .Content }}</div>

{{ if .IsHome }}
    {{ range .Sections }}
        <h2 class="section-title">{{ .CurrentSection.Title }}</h2>
        {{ .CurrentSection.Content }}
        {{ partial "post_list.html" . }}
    {{ end }}
{{ else }}
    <h2 class="section-title">{{ .CurrentSection.Title }}</h2>
    {{ partial "post_list.html" . }}
{{ end }}
