{{- /*Originally by Bobby Hiltz CC BY-SA*/ -}}
{{ partial "header.html" . }}

<article class="h-entry hentry">
<div style="display: none;">
    <a class="u-url" href="{{ .Permalink }}">{{ .Permalink }}</a>
    <span class="h-card p-author author vcard">
      <a href="https://bobbyhiltz.com/" rel="author me" class="u-url u-uid url"><span class="p-name fn">Bobby Hiltz</span></a>
      <a class="u-email" href="mailto:contact@bobbyhiltz.com">contact@bobbyhiltz.com</a>
      <img src="{{ .Site.BaseURL }}favicon-32x32.png" class="u-photo photo" alt="hcard photo for bobbyhiltz.com" />
      <span class="p-summary">Bobby Hiltz, English Teacher / Professeur d'anglais (Rouen, France) #nobridge #nobot</span>
      <span class="p-category">CV</span>
      <span class="p-category">R&eacute;sum&eacute;</span>
      <span class="p-category">Resume</span>
    </span>
</div>
{{ if not .Params.notitle }}
<div id="single-header">
  <h1  class="p-name">
    {{ .Title | markdownify }}
  </h1>
  <div id="single-meta">
    {{ if .Params.subtitle }}
        <p id="subtitle" >{{ .Params.subtitle }}</p>
    {{ end }}
    <span class="datesub">Version: </span><span class="datesub dt-published">{{ .Lastmod.Format "2006-01-02" }}</span>    
  </div>
</div>
{{ else }}
<div style="padding-bottom: 1px;"></div>
{{ end }}

{{ if .Params.toc }}
<aside class="hidden lg:block toc " id="tableOfContentContainer">
  {{ .TableOfContents }}
</aside>
{{ end }}
<main><div class="e-content">{{ .Content }}</div></main>
</article>
