<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" />

<p>
<b>{{ index .Params 0 }}</b> by {{ index .Params 1 }} <br>
<i class="ti ti-brand-bandcamp"></i> <a href="{{ index .Params 2 }}">Bandcamp</a>
</p>
