<footer>
<link href="mailto:bbbhltz@mailbox.org" rel="me">
<link href="https://nonbot.org/pledged/view/9d43e633-cee2-4583-a8ad-9c7aa03a3df1" rel="me">
<a href="/rss.xml">RSS</a> <a rel="me" href="https://framapiaf.org/@bbbhltz">Framapiaf</a> <a href="https://codeberg.org/bbbhltz/pages">Source</a> <a href="/sitemap.xml">Sitemap</a> <a href="https://ko-fi.com/bbbhltz">Support</a><br>

<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a><br>

<a href="https://512kb.club"><img src="https://512kb.club/assets/images/green-team.svg" alt="Logo for 512kb.club" style="height:1em;"></a><br>

<a href="https://fediring.net/">Fediring</a>: <a href="https://fediring.net/previous?host=bbbhltz.codeberg.page">Previous</a> / <a href="https://fediring.net/next?host=bbbhltz.codeberg.page">Next</a> | <a href="https://xn--sr8hvo.ws">IndieWeb</a>: <a href="https://xn--sr8hvo.ws/%F0%9F%9A%BB%F0%9F%90%B7%F0%9F%9B%8C/previous">Previous</a> / <a href="https://xn--sr8hvo.ws/%F0%9F%9A%BB%F0%9F%90%B7%F0%9F%9B%8C/next">Next</a><br>
</footer>
