<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{{ .Title }}">
    <meta property="fediverse:creator" content="@bbbhltz@framapiaf.org" />
    <meta name="fediverse:creator" content="@bbbhltz@framapiaf.org" />
    <meta property="og:type" content="website">
    <meta property="og:title" content= "{{ .Title }}" >
    <meta property="og:url" content="{{ .Permalink }}">
    {{ if .Summary }}<meta property="og:description" content="{{ .Description }}">{{ else }}<meta property="og:description" content="{{ $.Site.Params.Description }}">{{ end }}
    {{ if .Param "featured_image" }}<meta property="og:image" content="{{ .Param "featured_image" | absURL }}">{{ else }}<meta property="og:image" content="{{ $.Site.Params.Featured | absURL }}">{{ end }}
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content= "{{ .Title }}" >
    {{ if .Summary }}<meta property="twitter:description" content="{{ .Description }}">{{ else }}<meta property="og:description" content="{{ $.Site.Params.Description }}">{{ end }}
    {{ if .Param "featured_image" }}<meta property="twitter:image" content="{{ .Param "featured_image" | absURL }}">{{ else }}<meta property="twitter:image" content="{{ $.Site.Params.Featured | absURL }}">{{ end }}
    <meta http-equiv="X-Robots-Tag" content="noai" />
    <meta http-equiv="X-Robots-Tag" content="noimageai" />
    <link rel="icon" href="/favicon2.ico" />
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}" />
    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ partial "extended.html" . }}
    <link rel="stylesheet" href="/css/simple.css" type="text/css">
    <link rel="stylesheet" href="/css/notes.css" type="text/css">
    <link href="mailto:bbbhltz@mailbox.org" rel="me">
    <link href="https://framapiaf.org/@bbbhltz" rel="me">
</head>
