<nav align="center">

{{ $taxonomy := "tags" }}
    {{ with .Param $taxonomy }}
        {{ range $index, $tag := . }}
            {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy (urlize $tag)) -}}<a href="{{ .Permalink }}" style="text-decoration: none">#{{ $tag | urlize }}</a>
        {{- end -}}

    {{- end -}}
{{ end }}

</nav>
