<div class="imgp">
  <a href="{{ .Destination | safeURL }}" target="_blank" rel="noopener noreferrer">
  <img loading="lazy" style="cursor:zoom-in;" src="{{ .Destination | safeURL }}" alt="{{ .Text | plainify }}" {{ with .Title }} title="{{ .  | plainify }}"{{ end }}>
  </a>
</div>
