{{ define "main" }}

<section>
  <ul>
    {{ range .Data.Terms.Alphabetical }}
      <li>
          <a href="{{ .Page.Permalink }}">({{ .Count }}) {{.Page.Title }}</a>
      </li>
    {{ end }}
  </ul>
</section>

{{ end }}
