{{ define "main" }}
  {{ .Content }}
  {{- range where site.RegularPages "Type" "in" site.Params.mainSections }}
    <p><a href="{{ .Permalink }}">{{ .Title }}</a><br>
    <i>{{ .Description }}</i><br>
    {{ .Date.Format "2 January 2006" }}{{ if ne .Lastmod .Date }} <mark>Updated: {{ .Lastmod.Format "2 January 2006" }}</mark>
{{ end }}</p>
  {{- end }}
{{ end }}
