<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/simple.css" type="text/css">
</head>
  <body>
    <header>
  <h1>{{ .Title }}</h1>
    </header>
    <main>
      {{ .Content }}
    </main>
  </body>
</html>
