{{- /*Originally by Bobby Hiltz CC BY-SA*/ -}}
{{ partial "header.html" . }}

{{ if not .Params.notitle }}
<div id="single-header">
  <h1>
    {{ .Title | markdownify }}
  </h1>
  <div id="single-meta">
    {{ if .Params.description }}
        <p id="subtitle">{{ .Params.description }}</p>
    {{ end }}
    {{ if .Lastmod }}
        <span class="datesub">Revised: {{ .Lastmod.Format "2006-01-02" }}</span>
    {{ end }}
  </div>
</div>
{{ else }}
<div style="padding-bottom: 1px;"></div>
{{ end }}

<aside class="hidden lg:block toc " id="tableOfContentContainer">
  <nav id="TableOfContents">
  <ul>
    <li><a href="#information">Information</a></li>
    <li><a href="#achieve">Achievements</a></li>
    <li><a href="#savings">Savings</a></li>
    <li><a href="#life">Life Expectancy</a></li>
    <li><a href="#sources">Sources</a></li>
  </ul>
</nav>
</aside>

<main>
  <div>
    {{ $q := time.AsTime .Params.quitday }}
    {{ $qdiff := now.Sub $q }}
    {{ $minutes_since := $qdiff.Minutes}}
    {{ $cigs_per_minute := div .Params.perday (mul 60 24)}}
    {{ $price_per_cig := div .Params.price .Params.quantity}}
    {{ $savings := mul $minutes_since $cigs_per_minute $price_per_cig}}
    {{ $unsmoked := mul $minutes_since $cigs_per_minute}}
    {{ $days_added := (div (mul $unsmoked 20) (mul 24 60))}}

    <i>This is not a dynamic page, it will only update during rebuild.</i>

    <h2 id="information">Information
    </h2>
    <p><a class="hanchor" href="#information">[Permalink to section]</a></p>

    <p>I quit on <b>{{ $q.Format "02 January 2006" }}</b> at around <b>{{ $q.Format "15:04" }}</b>.</p>

    <p>My last check-in was <b>{{ now.Format "02 January 2006" }}</b> at <b>{{ now.Format "15:04" }}</b> (≈<b>{{ printf "%.2f" (div $qdiff.Hours 24) }}</b> days since last cigarette).</p>

    <h2 id="achievements">Achievements</h2>
    <p><a class="hanchor" href="#achieve">[Permalink to section]</a></p>
    
    <table class="table">
      <tr><td>20 Minutes</td><td>Heart rate and blood pressure drop</td>
      <td>
      {{ if ge $qdiff.Minutes 20 }}
          {{ print "✅" }}
      {{ else }}
          {{ print "❌" }}
      {{ end }}
      </td></tr>
      <tr><td>8 Hours</td><td>Carbon Monoxide Normal</td>
      <td>
      {{ if ge $qdiff.Hours 8 }}
          {{ print "✅" }}
      {{ else }}
          {{ print "❌" }}
      {{ end }}
      </td>
      </tr>
      <tr><td>1 Day</td><td>Lowered Risk of Heart Attack</td>
      <td>
      {{ if ge $qdiff.Hours 24 }}
          {{ print "✅" }}
      {{ else }}
          {{ print "❌" }}
      {{ end }}
      </td></tr>
      <tr><td>2 Days</td><td>Smell and Taste Improve</td>
      <td>
      {{ if ge $qdiff.Hours 48 }}
          {{ print "✅" }}
      {{ else }}
          {{ print "❌" }}
      {{ end }}
      </td>
      </tr>
      <tr><td>3 Days</td><td>Lung Capacity Up / Energy Up / Withdrawal Down</td>
      <td>
      {{ if ge $qdiff.Hours 72 }}
          {{ print "✅" }}
      {{ else }}
          {{ print "❌" }}
      {{ end }}
      </td>
      </tr>
      <tr><td>1 Week</td><td>Congratulations! (9x more likely to quit for good)</i></td>
      <td>
      {{ if ge $qdiff.Hours 168 }}
          {{ print "✅" }}
      {{ else }}
          {{ print "❌" }}
      {{ end }}
      </td>
      </tr>
      <tr><td>2 Weeks</td><td>Lung function +30%</td>
      <td>
      {{ if ge $qdiff.Hours (mul 168 2) }}
          {{ print "✅" }}
      {{ else }}
          {{ print "❌" }}
      {{ end }}
      </td>
      </tr>
      <tr><td>1 Month</td><td>Breathe Easy</td>
      <td>
      {{ if ge $qdiff.Hours (mul 24 30) }}
          {{ print "✅" }}
      {{ else }}
          {{ print "❌" }}
      {{ end }}
      </td>
      </tr>
      <tr><td>3 Months</td><td>Fertility Up</td>
      <td>
      {{ if ge $qdiff.Hours (mul 24 90) }}
          {{ print "✅" }}
      {{ else }}
          {{ print "❌" }}
      {{ end }}
      </td>
      </tr>
      <tr><td>6 Months</td><td>Less Stress and Phlegm</td>
      <td>
      {{ if ge $qdiff.Hours (mul 24 180) }}
          {{ print "✅" }}
      {{ else }}
          {{ print "❌" }}
      {{ end }}
      </td>
      </tr>
      <tr><td>1 Year</td><td>Chance of Heart Attack, Stroke, Coronary Disease reduced by 50%</td>
      <td>
      {{ if ge $qdiff.Hours (mul 24 365) }}
          {{ print "✅" }}
      {{ else }}
          {{ print "❌" }}
      {{ end }}
      </td>
      </tr>
      <tr><td>3 Years</td><td>Normal Risk of Heart Attack</td>
      <td>
      {{ if ge $qdiff.Hours (mul 24 365 3) }}
          {{ print "✅" }}
      {{ else }}
          {{ print "❌" }}
      {{ end }}
      </td>
      </tr>
      <tr><td>5 years</td><td>Less Chance of Diabetes and Cancer</td>
      <td>
      {{ if ge $qdiff.Hours (mul 24 365 5) }}
          {{ print "✅" }}
      {{ else }}
          {{ print "❌" }}
      {{ end }}
      </td>
      </tr>
      <tr><td>10 Years</td><td>Precancerous Cells Replaced</td>
      <td>
      {{ if ge $qdiff.Hours (mul 24 365 10) }}
          {{ print "✅" }}
      {{ else }}
          {{ print "❌" }}
      {{ end }}
      </td>
      </tr>
      <tr><td>15 Years</td><td>Non-Smoker!</td>
      <td>
      {{ if ge $qdiff.Hours (mul 24 365 15) }}
          {{ print "✅" }}
      {{ else }}
          {{ print "❌" }}
      {{ end }}
      </td>
      </tr>
    </table>
    
    <h2 id="savings">Savings</h2>
    <p><a class="hanchor" href="#savings">[Permalink to section]</a></p>
    
    <p>Since quitting, I have saved about <b>{{ printf "€ %.2f" $savings }}</b>.</p>
    
    <h2 id="life">Life Expectancy</h2>
    <p><a class="hanchor" href="#life">[Permalink to section]</a></p>
    
    I have added roughly <b>{{ printf "%.2f" $days_added }} days</b> to my lifespan!
    
    <h2 id="sources">Sources</h2>
    <p><a class="hanchor" href="#sources">[Permalink to section]</a></p>
    
    <ul>
      <li><a href="https://www.cancer.org/cancer/risk-prevention/tobacco/guide-quitting-smoking/benefits-of-quitting-smoking-over-time.html">Health Benefits of Quitting Smoking Over Time</a></li>
      <li><a href="https://www.theguardian.com/society/2024/dec/30/single-cigarette-takes-20-minutes-off-life-expectancy-study">Single cigarette takes 20 minutes off life expectancy, study finds</a> (<a href="https://archive.ph/iIzRU">archive</a>)</li>
      <li><a href="https://www2.hse.ie/living-well/quit-smoking/reasons-to-quit/health-benefits/">Health benefits of stopping smoking</a></li>
      <li><a href="https://www.lung.org/quit-smoking/i-want-to-quit/benefits-of-quitting">Benefits of Quitting</a></li>
      <li><a href="https://web.archive.org/web/20240423061212/https://www.getaeris.app/blog/quit-smoking-timeline/">15 Amazing Quit Smoking Timeline Milestones</a></li>
    </ul>
</div>
</main>

{{ partial "footer.html" . }}
