{{ define "main"}}
    <main id="main">
      <div>
      <p>Oh, no! That page has gone missing...</p>
      <a href="{{ "/" | relURL }}">...go home and try again</a>
      </div>
    </main>
{{ end }}
