{{ partial "header.html" . }}
<article class="h-entry hentry">
{{ if not .Params.notitle }}
<div id="single-header">
  <h1 class="p-name">
    {{ .Title | markdownify }}
  </h1>
  <div id="single-meta">
    {{ if .Params.subtitle }}
        <p id="subtitle" class="p-summary">{{ .Params.subtitle }}</p>
    {{ end }}
    {{ if .Params.date }}
      Published: <span class="dt-published">{{ .Date.Format "2006-01-02" }}</span> by <span class="h-card p-author author vcard"><a href="https://bobbyhiltz.com/" rel="author me" class="u-url u-uid url"><span class="p-name fn">Bobby Hiltz</span></a> <span style="display: none"><img class="u-photo photo" src="{{ .Site.BaseURL }}favicon-32x32.png"/></span></span><br>
    {{ end }}
    {{ if .Lastmod }}
    Revised: <span class="dt-updated">{{ .Lastmod.Format "2006-01-02" }}</span><br>
    {{- end -}}
    {{ if .Params.tags }}
    {{ partial "tags.html" .}}<br>
    {{ end }}
  </div>
</div>
{{ else }}
<div style="padding-bottom: 1px;"></div>
{{ end }}
{{ if .Params.toc }}
<aside class="hidden lg:block toc " id="tableOfContentContainer">
  {{ .TableOfContents }}
</aside>
{{ end }}
<main><div class="e-content">{{ .Content }}</div></main>
</article>
{{ if .Params.Next }}
<br>
<hr>
{{ with .PrevInSection }}Previous: <a href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}<br>
{{ with .NextInSection }}Next: <a href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}
{{ end }}
{{ partial "footer.html" . }}
