:root {
  --complimentary: #815205;
  --text: black;
  --code: black;
  --text-dim: #444;
  --link: #3366cc;
  --link-visited: #795cb2;
  --code-background: #f3f5f7;
  --code-border: #eaecf0;
  --code-border: transparent;
  --code-hl: #e6e6e6;
  --border-general: #cccfd4;
  --table-th: #e1e5ea;
  --table-tr: #edeff2;
  --toc-background: #f9f9f9;
  --toc-border: #aaa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --complimentary: #815205;
    --text: #d8d8d8;
    --code: #cbcbcb;
    --text-dim: #a7a7a7;
    /* --link: #8cb4ff; */
    --link: #88a9e9;
    --link-visited: #a390ca;
    --code-background: #272727;
    --code-border: transparent;
    --code-hl: #5a5a5a;
    --border-general: #495057;
    --table-th: #414141;
    --table-tr: #343434;
    --toc-background: #343434;
    --toc-border: #495057;
  }
}

#gitinfo-date {
  color: var(--text-dim);
  filter: opacity(40%);
  font-style: italic;
  font-size: 0.9em;
  white-space: nowrap;
}

@media screen and (min-width: 760px) {
  #gitinfo-date {
    margin-left: 30px;
  }
}

/* TODO: add iframe margins */

/* HTML & BODY */
html {
  color: var(--text);
  /* set in header*/
  /* background-color: var(--background); */
  scroll-behavior: smooth;
}

body {
  margin: auto;
  padding: 0em 1em 2em 1em;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Roboto",
    Helvetica,
    sans-serif;
  line-height: 1.54;
  text-align: justify;
}

@media screen and (min-width: 760px) {
  body {
    margin: auto;
    max-width: 68vw;
  }
}

@media screen and (min-width: 1150px) {
  body {
    margin: auto;
    max-width: 62vw;
  }
}

main {
  hyphens: none;
}

/* BASIC HTML ELEMENTS */
p {
  margin: 1em 0;
}

h1 {
  font-weight: normal;
  margin-bottom: 0px;
  font-size: 2em;
  margin-top: 0;
}

h2 {
  border-bottom: 1px solid;
  border-color: var(--text-dim);
  margin-bottom: 0.5em;
  margin-top: 1.2em;
  font-weight: normal;
  font-size: 1.65em;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 0.5em;
  padding-bottom: 0;
}

h4 {
  font-size: 1.1em;
  margin-bottom: 0;
  padding-bottom: 0;
  font-style: oblique;
  font-weight: normal;
}

a {
  text-decoration: underline;
  color: var(--link);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--link-visited);
}

hr {
  border-style: dashed;
  color: var(--text-dim);
}

blockquote {
  border-left: 0.3rem solid var(--complimentary);
  font-style: oblique;
  margin: 1.6rem 0;
  padding: 0 1.4rem 0 1rem;
  line-height: 1.6;
}

blockquote p {
  margin: 0;
}

details {
  padding: 0 0 0 14px;
  border-left: 2px dashed var(--border-general);
}

mark {
  padding: 0 2px 0 2px;
}

ul {
  padding-left: 2rem;
}

/* NOTE: fix for Inter font. */
strong {
  font-weight: 600;
}

/* NOTE: fix for Inter font. */
th {
  font-weight: 500;
}

/* MISC */
.section-title {
  border: 0;
}

.post-list {
  color: var(--complimentary);
  padding-left: 1em;
}

@media screen and (min-width: 760px) {
  .post-list {
    max-width: 60vw;
  }
}

.bold-post-in-list {
  font-weight: 600;
}

@media screen and (max-width: 760px) {
  .katex {
    font-size: 1.05em !important;
  }
}

.footnotes {
  margin-top: 60px;
}

.terms {
  padding-left: 16px;
}
.menu {
  padding: 0px 4px 0px 0px;
  z-index: 9999;
  text-align: left;
  margin-bottom: 10px;
}

.menu li {
  display: inline-block;
}

.menu a {
  margin-right: 1.1em;
  text-decoration: underline;
  border-radius: 5px;
}

.menu a:visited {
  color: var(--link);
}

.menu a:hover {
  text-decoration: underline;
}

/* TOC */
.toc a {
  color: var(--text-dim);
}

.toc a:visited {
  color: var(--text-dim);
}

@media screen and (min-width: 1150px) {
  #tableOfContentContainer {
    position: fixed;
    left: 20px;
    top: 46px;
    max-width: 15vw;
    width: 15vw;
  }

  #TableOfContents {
    opacity: 0.6;
    transition-duration: 1s;
  }

  #TableOfContents:hover {
    opacity: 1;
  }
}

.toc {
  animation-duration: 1s;
  background: var(--toc-background) none repeat scroll 0 0;
  border: 1px solid var(--toc-border);
  display: table;
  font-size: 95%;
  margin-bottom: 1em;
  padding: 0.4em 1.5em 0.4em 0.2em;
  width: auto;
  margin-top: auto;
}

@media screen and (min-width: 1150px) {
  .toc {
    padding: 0;
    background-color: transparent;
    font-size: 80%;
    line-height: 1.3;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
  }

  #TableOfContents {
    max-height: 85vh;
    overflow-y: auto;
  }

  #TableOfContents li {
    max-width: 13vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* !important was here for some reason. */
.toc li,
.toc ul,
.toc ul li {
  list-style: outside none none;
}

.toc ul li a {
  transition-duration: 50ms;
}

.active-toc {
  font-weight: bold;
  transition-duration: 50ms;
}

/* h2 in toc has 20px padding and h1 should be the title and shouldn't be present in toc */
@media screen and (min-width: 1150px) {
  #TableOfContents {
    margin-left: -32px;
  }
}

#TableOfContents ul {
  padding-left: 20px;
}

.toc h3 {
  margin-left: 20px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
}
@keyframes images {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

img {
  max-height: 70vh;
  margin: 0.8em 0;
  animation-duration: 1s;
  animation-name: images;
}

.imgp {
  margin: auto;
  text-align: center;
}

figure {
  margin: auto;
  text-align: center;
}

.imgp img,
figure img
{
  border-radius: 4px;
}

figcaption {
  color: var(--text-dim);
  font-size: 0.96rem;
  text-align: center;
}

figcaption h4 {
  margin-top: 0px;
  font-weight: normal;
}

img,
iframe,
video {
  max-width: 100%;
}

/* Image gallery. */
.image-gallery, .image-gallery-img {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-left: 0;
}

.image-gallery {
  margin: 0 0 1.2rem 0;
}

.image-gallery-img {
  margin: 0 0 2.6rem 0;
}

.image-gallery > li, .image-gallery-img > li {
  flex-basis: 440px;
}

.image-gallery li img,
.image-gallery-img li img
{
  object-fit: cover;
  width: 100%;
  height: 100%;

  border-radius: 4px;
  vertical-align: middle;
}

.three-image-gallery > li {
  flex-basis: 290px;
}
/* POST META */
#single-header {
  /* border-bottom: 2px solid var(--complimentary); */
  padding: 0px 8px 4px 0;
  margin-bottom: 20px;
  margin-top: 10px;
}

.date {
  color: var(--text-dim);
  padding-top: 0.1em;
  font-size: 90%;
}

#single-meta {
  margin-top: 0;
  margin-bottom: 0px;
  padding-top: 0px;
  font-size: 0.9em;
}

#single-meta a:visited {
  color: var(--link);
}

#subtitle {
  font-family: "Linux Libertine", "Georgia", "Times", serif;
  margin-top: -8px;
  margin-bottom: 0.3em;
  font-size: 1.4em;
  color: var(--text-dim);
}

.datesub {
  font-weight: normal;
  color: var(--text-dim);
}

#tags {
  font-weight: normal;
  color: var(--text-dim);
}

#tags a {
  filter: brightness(80%);
}

#tags a:visited {
  filter: brightness(80%);
}
@keyframes code-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.highlight div,
pre {
  background-color: var(--code-background);
  padding: 0.7em;
  overflow-x: auto;
  margin: 0px;
  border: 1px solid var(--code-border);
  border-radius: 3px 0 3px 3px;
  line-height: 1.3;
}

.highlight {
  margin: 0.8em 0;
}

.highlight div pre {
  border: 0px;
  padding: 0px 5px;
  margin: 0px;
  box-shadow: 0px 0px 0px;
}

code {
  font-family: 'Source Code Pro', monospace;
  color: var(--code);

  /* For Iosevka */
  /* font-stretch: expanded; */
  font-stretch: normal;

  background: var(--code-background);
  border-radius: 5%;
  padding: 1px 4px;
  border: 1px solid var(--code-border);
  font-size: 0.920em;
}

pre code {
  font-size: 0.900em;
  font-stretch: normal;

  border: none;
  background: none;
  padding: 0;
  margin: 0px;
  tab-size: 4;
}

@media screen and (max-width: 760px) {
  pre code {
    font-size: 80%;
  }
}

.fs95 {
  font-size: 90%;
}

.fs90 {
  font-size: 90%;
}

.fs85 {
  font-size: 85%;
}

.fs80 {
  font-size: 80%;
}

.fs75 {
  font-size: 75%;
}

.fs70 {
  font-size: 75%;
}

.fs50 {
  font-size: 50%;
}

/* Line numbers in code blocks. */
.ln {
  user-select: none;
  margin-right: 14px;
  color: rgb(150, 150, 150);
}

.hl {
  background-color: var(--code-hl);
  outline-style: solid;
  outline-color: var(--code-hl);
  outline-width: 0.5px;
}

/* Copy code button */
.copy-code-button {
  display: none;
}

@media screen and (min-width: 760px) {
  .copy-code-button {
    animation-duration: 1s;
    animation-name: code-fade-in;
    margin-top: -22px;
    float: right;
    display: block;
    background-color: var(--code-background);
    border-color: var(--code-border);
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-radius: 2px 2px 0 0;
    color: var(--text-dim);
  }
}
/* TABLES */
table {
  border-collapse: collapse;
  display: block;
  overflow: auto;
}

@media screen and (min-width: 760px) {
  table {
    display: table !important;
  }
}

table thead th {
  border: 1px solid var(--border-general);
}

th,
td {
  padding: 4px 8px;
  border: 1px solid rgb(200, 200, 200);
  border: 1px solid var(--border-general);
}

th {
  background-color: var(--table-th);
}

tr {
  background-color: var(--table-tr);
}


/* ATTACHMENTS */
.attachments-files {
  display: block;
  font-size: 1rem;
  margin: 0;
}

.attachment-size {
  display: inline-block;
  color: var(--text-dim);
}

.attachments ul {
  margin-top: 4px;
}

.attachments label {
  font-weight: 300;
  margin: 0;
}

/* COLUMNS */
.md-columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.md-columns > div {
  flex: 1 1;
  margin: 1rem 0;
  min-width: 100px;
  max-width: 100%;
  padding: 0 1rem;
}

.md-columns .markdown-inner {
  margin-top: 0;
  margin-bottom: 0;
}

/* TABS */
.md-tabs {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--border-general);
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.md-tabs label {
  display: inline-block;
  padding: 0.6rem 0.2rem 0.3rem 0.2rem;
  border-bottom: 1px transparent;
  cursor: pointer;
}
.md-tabs .md-tabs-content {
  order: 999;
  width: 100%;
  border-top: 1px solid var(--border-general);
  padding: 0.5rem 1rem 1rem 1rem;
  display: none;
}

.md-tabs input[type="radio"] {
    margin-left: 1.1rem;
}

.md-tabs input[type="radio"]:checked + label + .md-tabs-content {
  display: block;
}
