
{{ define "main" }}
  {{ $paginator := .Paginate (where .Pages "Type" "blog") }}
  {{ .Content }}

      {{ range $paginator.Pages }}

        <p>
        <b><a href="{{ .Permalink }}">{{ .Title }}</a></b><br>
        <i>{{ .Description }}</i><br>
        {{ .Date.Format "2006-01-02" }}{{ if ne .Lastmod .Date }} <mark>Updated: {{ .Lastmod.Format "2006-01-02" }}</mark>
        </p>

      {{ end }}

  {{ end }}
  <br>{{ partial "pagination.html" . }}

{{ end }}

