{{ define "main" }}
{{ partial "tags.html" .}}

<p>
<b>Posted</b>: {{ .Date.Format "2006-01-02" }}
{{ if ne .Lastmod .Date }}<br><b>Updated</b>: {{ .Lastmod.Format "2006-01-02" }}
{{ end }}<br><b>Stats</b>: {{ .WordCount }} words / ~{{ .ReadingTime }} {{ if eq .ReadingTime 1 }} minute {{ else }} minutes {{ end }}</p>
{{ if .Params.toc }}<details><summary>Contents</summary>{{ .TableOfContents }}</details>{{ end }}
{{ .Content }}
{{ partial "component/emailcomment" $.Params }}
{{ end }}
