{{- /*SOURCE: https://github.com/lkhrs/hugo-cactus-theme/blob/main/layouts/_default/stats.html*/ -}}
{{- /*LICENSE: https://github.com/lkhrs/hugo-cactus-theme/blob/main/LICENSE*/ -}}
{{ partial "header.html" . }}

<h1>
  {{ .Title | markdownify }}
</h1>
<div id="single-meta">
  {{ if .Params.description }}
      <p id="subtitle">{{ .Params.description }}</p>
  {{ end }}
</div>

<aside class="hidden lg:block toc " id="tableOfContentContainer">
  <nav id="TableOfContents">
  <ul>
    <li><a href="#badges">Badges</a></li>
    <li><a href="#overall">Overall Statistics</a></li>
    <li><a href="#posts">Posts Per Year</a></li>
    <li><a href="#tags">Tags by post count</a></li>
  </ul>
</nav>
</aside>

<main>
    <div>
      {{ .Content }}
      {{ $posts := where site.RegularPages "Type" "blog" }}

      {{ $titlePostsCount := len ( where $posts ".Params.title"  "!=" nil ) }}
      {{ $microPostsCount := len ( where $posts ".Params.title"  "=" nil ) }}

      {{ $scratch := newScratch }}
      {{ $scratch.Set "longCount" 0 }}
      {{ range $posts }}
      {{ $scratch.Add "wordcount" .WordCount }}
      {{ if ge .WordCount ($scratch.Get "longCount") }}
      {{ $scratch.Set "longestPost" . }}
      {{ $scratch.Set "longCount" .WordCount }}
      {{ end }}
      {{ end }}

      {{ $postCount :=  len ($posts) }}
      {{ $wordCount := $scratch.Get "wordcount" }}
      {{ $avgPostLength := div $wordCount $postCount }}
      
      <h2 id="badges">Badges</h2>
	  <p><a class="hanchor" href="#badges">[Permalink to section]</a></p>
      
      <a href="https://bff.ecoindex.fr/redirect/?url=https://bobbyhiltz.com" target="_blank"><img src="https://bff.ecoindex.fr/badge/?theme=light&url=https://bobbyhiltz.com" alt="Ecoindex Badge" /></a>
    
      <h2 id="overall">Overall Statistics</h2>
	  <p><a class="hanchor" href="#overall">[Permalink to section]</a></p>
      <table class="table" align="center">
        <tr>
          <td width="40%">Total Posts Published</td>
          <td width="60%">{{ $postCount | lang.FormatNumber 0 }}</td>
        </tr>
        <tr>
          <td>Total Words Written</td>
          <td>{{ $wordCount | lang.FormatNumber 0 }}{{ if gt $wordCount 40000 }}{{ end }}</td>
        </tr>
        <tr>
          <td>Average Words per Post</td>
          <td>{{ $avgPostLength | lang.FormatNumber 0 }}</td>
        </tr>
        <tr>
          <td>First Post Published</td>
          <td>
            {{ range last 1 $posts }}
            {{ if .Title }}<a href="{{ .Permalink }}">{{ .Title }}</a> published on {{ .Date.Format "2006-01-02" }}
            {{ else }}<a href="{{ .Permalink }}">Micro Post</a> published on {{ .Date.Format "2006-01-02" }} 
            {{ end }}
            {{ end }}
          </td>
        </tr>
        <tr>
          <td>Longest Post Published</td>
          <td>
            {{ with $scratch.Get "longestPost" }}
            {{ if .Title }}<a href="{{ .Permalink }}">{{ .Title }}</a> with {{ .WordCount }} words
            {{ else }}<a href="{{ .Permalink }}">Micro Post</a> with {{ .WordCount }} words
            {{ end }}
            {{ end }}
          </td>
        </tr>
      </table>

      {{ $grouped := $posts.GroupByDate "2006" }}

      <h2 id="posts">Posts Per Year</h2>
	  <p><a class="hanchor" href="#posts">[Permalink to section]</a></p>

      <table width="40%" align="center" class="table">
        <tr>
          <th width="30%">Year</th>
          <th width="70%">Number of Posts</th>
        </tr>
        {{ range $grouped }}
        {{ $yearPostCount := len (where .Pages "Type" "blog") }}
        <tr>
          <td style="text-align: center;">{{ .Key }}</td>
          <td style="text-align: center;">{{ $yearPostCount | lang.FormatNumber 0 }}</td>
        </tr>
        {{ $scratch.Add "yearKeys" "'"  }}
        {{ $scratch.Add "yearKeys" .Key  }}
        {{ $scratch.Add "yearKeys" "',"  }}
        {{ $scratch.Add "yearCount" (string $yearPostCount) }}
        {{ $scratch.Add "yearCount" ","  }}
        {{ end }}
      </table>

      <h2 id="tags">Tags by post count</h2>
	  <p><a class="hanchor" href="#tags">[Permalink to section]</a></p>
      <div>
        {{ if ne (len $.Site.Taxonomies.tags) 0 }}
        {{ $largestFontSize := 2 }}
        {{ $smallestFontSize := 1 }}
        {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
        {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
        {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
        {{ $spread := sub $max $min }}
        {{ $fontStep := div $fontSpread $spread }}
        {{ range $name, $taxonomy := $.Site.Taxonomies.tags.ByCount }}
        {{ $categoryCount := len $taxonomy.Pages }}
        {{ $currentFontSize := (add $smallestFontSize (mul (sub $categoryCount $min) $fontStep) ) }}
        {{ $weight := div (sub (math.Log $categoryCount) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
        {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weight)) }}
        <a href="{{ "/tags/" | relURL }}{{ .Page.Title | urlize }}" class="categorycloud-item p-2 text-decoration-none"
          style="font-size: {{ $currentFontSize }}rem;">
          {{ .Page.Title }}<sup class="font-monospace">{{ $categoryCount }}</sup>
        </a>
        {{ end }}
        {{ end }}
      </div>
    </div>
</main>

{{ partial "footer.html" . }}

