<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . -}}
  <body>
    {{ partial "header.html" . -}}
    <main>
      {{- block "main" . }}{{- end -}}
    </main>
    {{ partial "footer.html" . -}}
  </body>
</html>
