<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . -}}
<body>
<header>
  <h1>{{ .Title }}</h1>
  <p>articles tagged as "{{ .Title }}"</p>
  {{ partial "navigation.html" . -}}
</header>

<main>
    <section>
        <ul>
            {{ range .Data.Pages }}
                <li>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a> ({{ .Date.Format "2006-01-02" }})
                </li>
            {{ end }}
        </ul>
    </section>
</main>
{{ partial "footer.html" }}
</body>
</html>
