<br>
<footer>
  <br>
  <a href="/rss.xml">RSS</a><br>
  <a rel="me" href="https://framapiaf.org/@bbbhltz">Mastodon (Framapiaf)</a><br>
  <a href="https://codeberg.org/bbbhltz/pages">Source</a><br>
  <a href="/sitemap.xml">Sitemap</a><br>
  <a href="/about/#about-supporting-this-blog">Support</a><br>
  <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a><br>
  <a href="https://fediring.net/">Fediring</a>: <a href="https://fediring.net/previous?host=bbbhltz.codeberg.page">Previous</a> / <a href="https://fediring.net/next?host=bbbhltz.codeberg.page">Next</a><br>
  <a href="https://xn--sr8hvo.ws">IndieWeb</a>: <a href="https://xn--sr8hvo.ws/%F0%9F%9A%BB%F0%9F%90%B7%F0%9F%9B%8C/previous">Previous</a> / <a href="https://xn--sr8hvo.ws/%F0%9F%9A%BB%F0%9F%90%B7%F0%9F%9B%8C/next">Next</a><br>
  <a href="https://static.quest">Static.Quest</a>: <a href="https://static.quest/previous/?host=static.quest">Previous</a> / <a href="https://static.quest/next/?host=static.quest">Next</a> / <a href="https://static.quest/random">Random</a>
</footer>
</body>
</html>
