<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-Robots-Tag" content="noai" />
    <meta http-equiv="X-Robots-Tag" content="noimageai" />
    <meta http-equiv="cache-control" content="max-age=31536000" />
    <meta http-equiv="accept-encoding" content="br, gzip, deflat" />
    <meta http-equiv="content-encoding" content="br" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    {{- /*<!--og twitter fediverse-->*/ -}}
    <meta property="fediverse:creator" content="@bbbhltz@framapiaf.org" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:site_name" content="Bobby's Blog" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    {{- if .Param "featured_image" }}
    <meta property="og:image" content="{{ .Param "featured_image" | absURL }}" />
    {{ else }}
    <meta property="og:image" content="{{ $.Site.Params.Featured | absURL }}" />
    {{ end }}
    {{- if .Summary -}}
    <meta property="og:description" content="{{ .Description }}" />
    {{ else }}
    <meta property="og:description" content="{{ .Summary }}" />
    {{ end -}}
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="{{ .Title }}" />
    {{- if .Param "featured_image" }}
    <meta property="twitter:image" content="{{ .Param "featured_image" | absURL }}">{{ else }}
    <meta property="twitter:image" content="{{ $.Site.Params.Featured | absURL }}">{{ end }}
    {{- if .Summary }}
    <meta property="twitter:description" content="{{ .Description }}">{{ else }}
    <meta property="twitter:description" content="{{ .Summary }}">{{ end }}
    {{- /*<!--inline CSS and math stuff-->*/ -}}
	{{- $css := resources.Get "/css/style.css" -}}
    {{- $style := $css | resources.Minify }}
	<style>{{ $style.Content | safeCSS }}</style>
	{{ $noop := .WordCount }}
    {{ if .Page.Store.Get "hasMath" }}
    {{ $katex_css_url := printf "https://cdn.jsdelivr.net/npm/katex@latest/dist/katex%s.css" (cond hugo.IsProduction ".min" "") -}}
      {{ with try (resources.GetRemote $katex_css_url) -}}
        {{ with .Err -}}
          {{ errorf "Could not retrieve KaTeX css file from CDN. Reason: %s." . -}}
        {{ else with.Value -}}
          {{ with resources.Copy (printf "css/katex%s.css" (cond hugo.IsProduction ".min" "")) . }}
            {{ $secureCSS := . | resources.Fingerprint "sha512" -}}
<link rel="stylesheet" href="{{- .RelPermalink -}}" integrity="{{- $secureCSS.Data.Integrity -}}" crossorigin="anonymous">
          {{ end -}}
        {{ end -}}
      {{ end -}}
    {{ end }}
    {{- /*<!--rss/links-->*/ -}}
    <link rel="alternate" type="application/rss+xml" href="{{ site.BaseURL }}rss.xml" title="{{ site.Title }}" />
    <link rel="canonical" href="{{ .Permalink }}" />
    <link href="mailto:contact@bobbyhiltz.com" rel="me" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ relURL "apple-touch-icon.png" }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ relURL "favicon-32x32.png" }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ relURL "favicon-16x16.png" }}">
    <link rel="manifest" href="{{ relURL "site.webmanifest" }}">
    {{- /*<!--titles and description-->*/ -}}
    {{ if .IsHome }}
    <title>{{ .Site.Title }}</title>
    {{ else }}
    <title>{{ .Title }} | {{ .Site.Params.Author.Name }} - BobbyHiltz.com</title>
    {{- end -}}
    <meta name="description" content="{{ .Description }}" />
  </head>
  <body>
  {{- if not .Params.nomenu }}
    <nav>
    <ul class="menu">
    {{- range .Site.Menus.main }}
      <li><a tabindex="0" href="{{ .URL | relURL }}">{{ safeHTML .Name }}</a></li>
    {{- end }}
    </ul>
    </nav>
    {{- end -}}
