  <li>
  {{- if not .CurrentSection.Params.nodate }}
    <div style="display: grid; grid-template-columns: 7em auto">
      <span class="date">{{ .Date.Format "2006-01-02" }}</span>
      {{- if .Params.bold }}
      <a class="bold-post-in-list" href="{{ .RelPermalink }}">{{ .Page.Title | markdownify }}</a>
      {{ else }}
      <a href="{{ .RelPermalink }}">{{ .Page.Title | markdownify }}</a>
      {{- end }}
    </div>
  {{ else }}
  {{- if .Params.bold -}}
  <a class="bold-post-in-list" href="{{ .RelPermalink }}">{{ .Page.Title | markdownify }}</a>
  {{ else }}
  <a href="{{ .RelPermalink }}">{{ .Page.Title | markdownify }}</a>
  {{- end -}}
  {{- end -}}
  </li>
