Tags: {{ $taxonomy := "tags" -}} {{ with .Param $taxonomy -}} <span id="tags">{{- range $index, $tag := . }}{{ with $.Site.GetPage (printf "/%s/%s" $taxonomy (urlize $tag)) }}<a href="{{ .Permalink }}" class="p-category">{{ $tag | urlize }}</a>{{ end }} {{ end -}}</span>
{{ end }}
