{{ partial "header.html" . }}

<h1>404</h1>

<blockquote>
  <p>{{ partial "haikus.html" . }}</p>
  <p><cite>— <a href="https://8325.org/haiku/">source</a></cite></p>
</blockquote>

{{ partial "footer.html" . }}
