/* ADMONITIONS */

.admonition {
    padding: 15px;
    margin-bottom: 21px;
    border-left: 10px solid transparent;
}

.admonition .title {
    margin: 0;
    text-transform: uppercase;
    padding-left: 3px;
    border: 1px solid;
    border-style: hidden hidden solid;
}

.admonition .content {
    padding-left: .75em;
    padding-right: .75em;
    padding-top: 0.5em;
    margin-left: 0;
    border-left: 0;
    border-top: 0;
    min-height: 0;
}

.note {
    border-color: var(--accent);
    background-color: var(--accent-bg);
}

.note .title {
    color: var(--accent);
    border-color: var(--border);
}
