  <span class="h-card p-author author vcard">
    <p>I'm <a href="https://bobbyhiltz.com/" rel="author me" class="u-url u-uid url"><span class="p-name fn">Bobby Hiltz</span></a><span style="display: none"><img class="u-photo photo" src="{{ .Site.BaseURL }}favicon-32x32.png" style="height:1em;width:1em;vertical-align:-1em" /></span> and this is my personal blog.</p>
    <p class="p-note p-summary">I'm an English teacher that likes to talk about education and technology. Sometimes I try to write short stories, reviews, and guides.</p>
    <p>You can contact me via email at <a class="u-email" href="mailto:contact@bobbyhiltz.com">contact@bobbyhiltz.com</a></p>
  </span>
